body {
  background: #c9c9c9;
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, sans-serif; }

.lead {
  color: #fff;
  font-weight: 200;
  font-size: 36px; }

a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: 12px; }

a:hover {
  font-weight: 400; }

.btn {
  background-color: #c0914d;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 20px; }

.home-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vw; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .home-sections section {
    padding: 50px 0; }
  .home-sections .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: rows;
        -ms-flex-direction: rows;
            flex-direction: rows;
    minimum-width: 100vw; }
  .home-sections .flex--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home-sections .flex--space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .home-sections .order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }

.col-1 {
  max-width: 300px;
  margin: 0 10px; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%; }

.push-right {
  margin-left: 50%; }

.container-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: space-between;
  -webkit-flex: space-between;
      -ms-flex: space-between;
          flex: space-between; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; }

  .col-1 {
    max-width: 100%; }

  .container-col {
    margin: 0 auto; }

  .col-50 {
    width: auto; }

  .push-right {
    margin-left: 35%; } }
.home-wrap header {
  width: 135px;
  background: #fff;
  padding: 30px 0; }
  .home-wrap header .header-position {
    position: fixed;
    width: 135px;
    top: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff; }
  .home-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    max-width: 135px;
    min-height: 40px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    z-index: 2; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 30px 0 0;
    text-align: right; }
    .home-wrap header .site-nav ul li {
      margin-bottom: 10px;
      font-size: 12px; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
  .home-wrap header .email-link {
    display: block;
    text-align: right;
    padding: 0 30px 0 0;
    margin-bottom: 30px; }
  .home-wrap header .mobile-nav-toggle {
    display: none;
    height: 50px;
    width: 50px;
    margin-right: 50px;
    margin-top: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    z-index: 2; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
      content: "";
      display: block;
      height: 2px;
      width: 50px;
      background-color: #333;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .home-wrap header .mobile-nav-toggle span:before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span:after {
      top: -17px; }
    .home-wrap header .mobile-nav-toggle.is-open span {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle.is-open span:before, .home-wrap header .mobile-nav-toggle.is-open span:after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .home-wrap header .mobile-nav-toggle.is-open span:before {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  padding: 20px 0 20px;
  z-index: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .header-position {
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      width: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .home-wrap header .header-position .site-nav,
      .home-wrap header .header-position .email-link {
        display: none; }
    .home-wrap header .logo {
      height: 50px;
      margin-top: 20px; }
    .home-wrap header .mobile-nav-toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

  .mobile-nav.is-open {
    display: block;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }
.about {
  background: url(../../images/portrait.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
  .about h2 {
    color: #fff;
    font-weight: 200;
    font-size: 48px;
    line-height: 1;
    margin-left: 0;
    margin-top: 150px;
    background: none;
    padding-bottom: 150px; }

@media (max-width: 775px) {
  .about h2 {
    margin-bottom: 0;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-right: 50px; } }
.coding {
  background: url(../../images/coding-background.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .coding .lead {
    padding: 0 20px; }
  .coding .col-1 {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .coding .container-col {
    height: auto;
    width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .coding .container-col img {
      height: 280px;
      width: 280px;
      margin: 10px;
      box-shadow: -4px 4px 10px 3px #555; }
  .coding .image-placeholder {
    background: white;
    width: 280px;
    height: 280px;
    margin: 10px;
    box-shadow: -4px 4px 10px 3px #555; }
    .coding .image-placeholder .lead {
      color: #c0914d;
      padding: 74px 17px 70px 17px;
      font-weight: 400; }

.photography {
  background: url(../../images/photography-background.jpg);
    background-repeat: no-reapeat;
    background-size: cover;
    background-position: top center; }
  .photography .lead {
    margin-top: 300px;
    margin-bottom: 50px; }
  .photography .col-50 {
    text-align: center; }

.languages {
  background: url(../../images/blog-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; }
  .languages .lead {
    padding: 0 20px;
    width: 300px; }
  .languages .col-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
  .languages .container-col {
    height: auto;
    width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .languages img {
    width: 280px;
    height: auto;
    margin-bottom: 10px;
    box-shadow: -4px 4px 10px 3px #555; }

@media (max-width: 640px) {
  .lead {
    margin-left: auto;
    margin-right: auto; } }
.teaching .lead {
  margin-left: 50px; }
