.about
  background: url(../../images/portrait.png)
    position: center top
    size: cover
    repeat: no-repeat
  min-height: 200px

  h2
    margin-left: 0
    margin-top: 150px
    background: none
    padding-bottom: 150px

@media (max-width: 775px)
  .about h2
    padding-bottom: 0px
    margin-top: 50px

@media (max-width: 640px)
  .about h2
    background-color: rgba(0,0,0,0.3)
