@import "bourbon"


$theme-color-1: #89bdd3
$theme-color-2: #9ad3de
$theme-color-3: #fff
$theme-color-4: #c9c9c9
$theme-color-5: #c0914d
$theme-font: Roboto Mono, sans-serif


body
  background: #ccc
  margin: 0
  padding: 0
  font-family: $theme-font

// general styles
a
  text-decoration: none
  color: black
  font-weight: 200
  font-size: 12px

a:hover
  font-weight: 400

//h1
//h2
//h3

@import home
@import header
@import about
